<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Jobinator.Sample.Agent.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <Jobinator.Sample.Agent.Properties.Settings>
            <setting name="MainServer" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="MainServerPort" serializeAs="String">
                <value>56246</value>
            </setting>
            <setting name="Queues" serializeAs="String">
                <value />
            </setting>
            <setting name="MaxThread" serializeAs="String">
                <value>4</value>
            </setting>
        </Jobinator.Sample.Agent.Properties.Settings>
    </applicationSettings>
</configuration>